.imgCover{
    /* background-image: url(../../assets/img/full-shot-woman-online-shopping.jpg); */
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(../../assets//img/online-fashion-shopping-with-smartphone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.color1{
    color: #952446;
}
